USE [master]
GO
/****** Object:  Database [Esercizio_U4_S3_L1]    Script Date: 24/02/2025 14:07:23 ******/
CREATE DATABASE [Esercizio_U4_S3_L1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Esercizio_U4_S3_L1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Esercizio_U4_S3_L1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Esercizio_U4_S3_L1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Esercizio_U4_S3_L1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Esercizio_U4_S3_L1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Esercizio_U4_S3_L1]
GO
/****** Object:  Table [dbo].[Cantieri]    Script Date: 24/02/2025 14:07:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cantieri](
	[Id] [uniqueidentifier] NOT NULL,
	[DenominazioneCantiere] [varchar](50) NOT NULL,
	[Indirizzo] [varchar](50) NOT NULL,
	[Citta] [varchar](50) NOT NULL,
	[CAP] [int] NOT NULL,
	[PersonaRiferimento] [varchar](50) NOT NULL,
	[DataInizioLavori] [date] NOT NULL,
	[DataFineLavori] [date] NOT NULL,
	[LavoriTerminatiSI_NO] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clienti]    Script Date: 24/02/2025 14:07:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clienti](
	[Id] [uniqueidentifier] NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Cognome] [varchar](50) NOT NULL,
	[DataNascita] [date] NOT NULL,
	[Sesso] [varchar](1) NOT NULL,
	[CF] [varchar](16) NOT NULL,
	[P_IVA] [int] NOT NULL,
	[Attivo] [bit] NOT NULL,
	[Saldo] [money] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operai]    Script Date: 24/02/2025 14:07:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operai](
	[Id] [uniqueidentifier] NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Cognome] [varchar](50) NOT NULL,
	[CF] [varchar](16) NOT NULL,
	[FigliACarico] [int] NOT NULL,
	[Sposato] [bit] NOT NULL,
	[LivelloLavorativo] [int] NOT NULL,
	[DescrizioneMansione] [varchar](50) NOT NULL,
	[Salario] [money] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
